.icon-side-bar {
    padding-left: 2%;
    padding-right: 2%;
}

.underline {
    text-decoration: underline;
}

.pull-right a {
    color: #9a9a9a;
}

.side-share {
    position: fixed;
    top: 42%;
    left: 50%;
    margin-left: -24em;
    list-style: none;
}

#loved-count {
    font-size: 10px;
    margin-left: -7px;
    letter-spacing: 0.2px;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

#love-share {
    cursor: pointer;
}

#love-share-mb {
    cursor: pointer;
}

.side-share-mb {
    display: none;
}

#love-share-sign:hover {
    fill: pink;
}

#fb-share-sign:hover {
    fill: #527ad1;
}

#tw-share-sign:hover {
    fill: rgb(7, 189, 235);
}

#ln-share-sign:hover {
    fill: #0e76a8;
}

.post-title a:hover,
.post-title a:focus {
    text-decoration: none;
    color: #666666;
}

h2 a:hover {
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

.hanchor {
    font-size: 100%;
    visibility: hidden;
    color: white;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
    visibility: visible;
}

.sidebar-icons {
    text-align: left;
    margin-top: -5%;
    margin-bottom: -10%;
}

.thin .utterances {
    max-width: 100%;
}


.sidebar-icons a:hover {
    text-decoration: none;
}

.sidebar-icons a:visited {
    text-decoration: none;
}

.language-json .err {
    background-color: transparent;
    color: #9a9a9a;
}

.language-javascript .err {
    background-color: transparent;
    color: inherit;
}

pre {
    white-space: pre;
    overflow: auto;
}

.page-img-container {
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    max-width: 100%;
}

.page-img-container img,
.page-img-container amp-img {
    border-radius: 0;
    width: 100%;
    align-self: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.highlight {
    position: relative;
}

.highlight pre {
    padding-right: 75px;
}

.highlight-copy-btn {
    position: absolute;
    bottom: 7px;
    right: 7px;
    border: 0;
    border-radius: 4px;
    padding: 1px;
    font-size: 0.7em;
    line-height: 1.8;
    color: #fff;
    background-color: #777;
    opacity: 0.5;
    min-width: 55px;
    text-align: center;
}

.highlight-copy-btn:hover {
    background-color: #666;
}

.masthead {
    background: #202020;
}

.sidebar-toggle:active:before,
#sidebar-checkbox:checked~.sidebar-toggle:before {
    background-image: -webkit-linear-gradient(to bottom,
            #555,
            #555 20%,
            #fff 20%,
            #fff 40%,
            #555 40%,
            #555 60%,
            #fff 60%,
            #fff 80%,
            #555 80%,
            #555 100%);
    background-image: -moz-linear-gradient(to bottom,
            #555,
            #555 20%,
            #fff 20%,
            #fff 40%,
            #555 40%,
            #555 60%,
            #fff 60%,
            #fff 80%,
            #555 80%,
            #555 100%);
    background-image: -ms-linear-gradient(to bottom,
            #555,
            #555 20%,
            #fff 20%,
            #fff 40%,
            #555 40%,
            #555 60%,
            #fff 60%,
            #fff 80%,
            #555 80%,
            #555 100%);
    background-image: linear-gradient(to bottom,
            #555,
            #555 20%,
            #fff 20%,
            #fff 40%,
            #555 40%,
            #555 60%,
            #fff 60%,
            #fff 80%,
            #555 80%,
            #555 100%);
}

.sidebar-toggle:active,
#sidebar-checkbox:checked~.sidebar-toggle {
    color: #555;
    background-color: #fff;
    border-color: #555;
}

.comment-newsletters {
    float: right;
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

.comment-newsletters span {
    color: #1971c2;
}

.newsletter-section {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(190, 187, 187);
    border-radius: 3px;
}

#footer {
    padding-top: 5px;
    background: #202020;
    border-bottom: 5px solid #fff;
    border-top: 10px solid #fff;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    padding: 10px;
    line-height: 16px;
    clear: both;
}

.comments {
    color: black;
}

.comments a {
    color: black;
    font-weight: 800;
}

.post-comment-avatar {
    height: 38px;
    text-align: left;
    border-radius: 50%;
    float: left;
}

.post-comment-name {
    font-weight: 600;
    font-size: 15px;
    padding-left: 30px;
    font-family: Merriweather, Georgia, "Times New Roman", serif;
    /* margin-top: -10px; */
    line-height: 1.5;
    display: block;
}

.post-comment-date {
    font-weight: 400;
    font-size: 14px;
    font-family: Merriweather, Georgia, "Times New Roman", serif;
}

fieldset {
    border-style: none;
}

.tiny p {
    text-align: left;
}

.commento-options:hover .onhover {
    filter: invert(38%) sepia(1%) saturate(2184%) hue-rotate(23deg) brightness(97%) contrast(98%);
}

.commento-root h1 {
    font-weight: 800;
}

.commento-root h2 {
    font-weight: 500;
}

.pagination-link {
    height: 50px;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    color: #313131;
    line-height: 1.2rem;
}

.pagination-link a {
    font-weight: 400;
}

.pagination-image {
    padding-top: 5px;
    border-radius: 0;
    overflow: hidden;
    height: 150px;
    display: flex;
}

.pagination-arrow {
    color: #222222;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.pagination-image img,
.pagination-image amp-img {
    border-radius: 0;
    width: 100%;
    align-self: center;
}

.toc li {
    list-style: decimal;
}

#TableOfContents ul li ul {
    margin-bottom: 0;
}

#comment-submitted-box {
    font-size: 18px;
    color: #2f343f;
}

#comment-submitted-box h3 {
    margin-top: 0px;
    text-align: center;
}

#comment-error h3 {
    margin-top: 0px;
    text-align: center;
    color: rgb(168, 15, 15);
}

.commento-markdown-help {
    border: 0px;
}

.pagination-item {
    font-size: 16px;
    padding: 0.5rem 1rem 1rem 1rem;
}

.submit-github {
    background: #000000;
}

.tfclear {
    clear: both;
}

.progress-container {
    width: 100%;
    height: 8px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

/* 404 */

.page-404 {
    text-align: center;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 0.2rem;
    background: rgb(100, 46, 204);
    background: -moz-linear-gradient(90deg,
            rgba(100, 46, 204, 1) 0%,
            rgba(64, 38, 203, 1) 20%,
            rgba(46, 114, 204, 1) 40%,
            rgba(46, 183, 204, 1) 60%,
            rgba(46, 204, 180, 1) 80%,
            rgba(46, 204, 113, 1) 100%);
    background: -webkit-linear-gradient(90deg,
            rgba(100, 46, 204, 1) 0%,
            rgba(64, 38, 203, 1) 20%,
            rgba(46, 114, 204, 1) 40%,
            rgba(46, 183, 204, 1) 60%,
            rgba(46, 204, 180, 1) 80%,
            rgba(46, 204, 113, 1) 100%);
    background: linear-gradient(90deg,
            rgba(100, 46, 204, 1) 0%,
            rgba(64, 38, 203, 1) 20%,
            rgba(46, 114, 204, 1) 40%,
            rgba(46, 183, 204, 1) 60%,
            rgba(46, 204, 180, 1) 80%,
            rgba(46, 204, 113, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#642ecc", endColorstr="#2ecc71", GradientType=1);
    width: 0%;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

#snackbar.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s,
        opacity .5s linear;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#close-privacy {
    cursor: pointer;
    color: #ffffff;
    padding-left: 2px;
    font-size: 10px;
    opacity: 0.9;
}

#close-privacy:hover {
    opacity: 1;
}


#newsletter-submitted p {
    text-align: center;
}

.newsletter-submitted-txt {
    padding-bottom: 10px;
}

/* Spinner */

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: "";
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: #1971c2;
    border-image: linear-gradient(45deg,
            rgba(100, 57, 242, 1) 0%,
            rgba(242, 55, 55, 1) 100%);
    border-image-slice: 9;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}

/* Misc */

.commento-name {
    cursor: default;
}

.newsletter-header {
    font-weight: 400;
    padding-top: 10px;
}

.newsletter-txt {
    padding-bottom: 14px;
    font-size: 14px;
}

.amp-comment {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Share */
.generic-share a:hover {
    text-decoration: none;
}

.container a code {
    color: #618abf;
}

/* New implementation */

.pagination-text {
    line-height: 1.5rem;
    font-size: 14px;
    padding-top: 4px;
    margin-bottom: 0;
}

.post h3,
.post h4,
.post h5,
.post h6 {
    font-weight: 700;
}

#list,
.commento-name {
    font-family: "PT Sans";
}

.rss-feed {
    margin-bottom: -1px;
    fill: rgba(255, 255, 255, 0.6);
}

/*AMP*/
amp-img img {
    object-fit: contain;
}

/* mobile display */

@media screen and (max-width: 64em) {
    .tfbutton {
        margin-left: -41px;
    }

    .tfbutton svg {
        margin-bottom: -3px;
    }
}

@media screen and (max-width: 56em) {

    body {
        line-height: 1.5;
    }

    .pagination-item {
        min-height: 358px;
    }

    .side-share {
        margin-left: -20em;
    }

    .photo-credit {
        margin-top: -20px;
    }
}

@media screen and (max-width: 48em) {


    .side-share {
        display: none;
    }

    .generic-share {
        display: block;
    }

    .side-share-mb {
        display: block;
    }

    .side-share-mb .generic-share {
        padding-top: 0px;
    }

    #loved-count {
        font-size: 8px;
        margin-left: -5px;
        letter-spacing: 0.2px;
    }

    .search-form {
        display: block;
    }

    .tftextinput {
        max-width: 167px;
        height: 26px;
        padding-bottom: 2px;
        padding-top: 2px;
        padding-right: 29px;
    }


}

@media (max-width: 30em) {
    .progress-bar {
        height: 0.3rem;
    }

    .pagination-item {
        min-height: 296px;
    }


    .post .home-title {
        font-size: 32px;
    }

    .post-title {
        font-size: 32px;
    }

    .post-date {
        font-size: 16px;
    }

    .tfbutton {
        margin-left: -36px;
    }

    .pagination .older {
        margin-top: 20px;
    }

    .tfbutton svg {
        margin-bottom: -3px;
    }

    .comment-newsletters .subscribe-to-nl {
        display: none;
    }

    .commento-logged-container {
        margin-top: 10px;
    }

    .post-date .generic-share {
        float: none;
    }

    .pagination-item {
        font-size: 16px;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .photo-credit {
        margin-top: -8px;
    }
}

@media (max-width: 15em) {
    .tfbutton {
        margin-left: -35px;
    }

    .masthead-title {
        text-align: center;
    }

    .masthead-title small {
        display: none;
    }

    .photo-credit {
        margin-top: -5px;
    }

    .commento-logged-container {
        margin-bottom: 10px;
    }

    .tfbutton svg {
        margin-bottom: -3px;
    }

    #comment-submitted-box {
        padding-top: 40px;
        margin-bottom: -10px;
    }

    .pagination-item {
        min-height: 305px;
    }
}

blockquote p strong {
    color: rgb(105, 103, 103);
}

input:focus {
    outline: none;
    box-shadow: none;
}