.icon-side-bar {
  padding-left: 2%;
  padding-right: 2%;
}

.pull-right {
  float: right;
}

.pull-right a {
  color: #9a9a9a !important;
}

.post p {
  text-align: justify !important;
}

a:focus,
a:hover {
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}

.hanchor {
  font-size: 100%;
  visibility: hidden;
  color: white;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
}

.sidebar-icons {
  text-align: left;
  margin-top: -5% !important;
  margin-bottom: -10% !important;
}

.thin .utterances {
  max-width: 100%;
}

.tag-list-header {
  margin-top: -4%;
}

.sidebar-icons a:hover {
  text-decoration: none;
}

.sidebar-icons a:visited {
  text-decoration: none;
}

.pull-right svg {
  margin-bottom: -2px !important;
}

.language-json .err {
  background-color: transparent !important;
  color: #9a9a9a;
}

.language-javascript .err {
  background-color: transparent !important;
  color: inherit;
}

pre {
  white-space: pre;
  overflow: auto !important;
}

.img-container {
  overflow: hidden;
  max-height: 350px;
  margin-bottom: 20px;
  display: flex;
}

.img-container img {
  border-radius: 0;
  width: 100%;
  align-self: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-credit {
  text-align: center;
  margin-bottom: 5px;
  margin-top: -5px;
  color: #9a9a9a;
  font-size: 15px;
}

.highlight {
  position: relative;
}

.highlight pre {
  padding-right: 75px;
}

.highlight-copy-btn {
  position: absolute;
  bottom: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 1px;
  font-size: 0.7em;
  line-height: 1.8;
  color: #fff;
  background-color: #777;
  opacity: 0.5;
  min-width: 55px;
  text-align: center;
}

.highlight-copy-btn:hover {
  background-color: #666;
}

.search-form {
  max-height: 41px !important;
  display: none;
  width: 108%;
  margin-bottom: 2px;
  font-weight: 200;
}

.sidebar-toggle {
  border-style: solid;
  border-width: 1px;
  border-color: #555;
}

.masthead {
  background: #202020;
}

.masthead-search-form {
  margin-top: -30px;
  font-weight: 200;
}

.sidebar-toggle {
  position: fixed;
  top: 0.8rem;
  left: 1rem;
  display: block;
  padding: 0.25rem 0.75rem;
  color: #fff;
  background-color: #555;
  border-radius: 0.25rem;
  cursor: pointer;
}

.sidebar-toggle:before {
  display: inline-block;
  width: 1rem;
  height: 0.75rem;
  content: "";
  background-image: -webkit-linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    #555 20%,
    #555 40%,
    #fff 40%,
    #fff 60%,
    #555 60%,
    #555 80%,
    #fff 80%,
    #fff 100%
  );
  background-image: -moz-linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    #555 20%,
    #555 40%,
    #fff 40%,
    #fff 60%,
    #555 60%,
    #555 80%,
    #fff 80%,
    #fff 100%
  );
  background-image: -ms-linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    #555 20%,
    #555 40%,
    #fff 40%,
    #fff 60%,
    #555 60%,
    #555 80%,
    #fff 80%,
    #fff 100%
  );
  background-image: linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    #555 20%,
    #555 40%,
    #fff 40%,
    #fff 60%,
    #555 60%,
    #555 80%,
    #fff 80%,
    #fff 100%
  );
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: rgba(255, 255, 255, 0.671);
  background-color: rgb(58, 57, 57);
}

.sidebar-toggle:active:before,
#sidebar-checkbox:checked ~ .sidebar-toggle:before {
  background-image: -webkit-linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    #555 20%,
    #555 40%,
    #fff 40%,
    #fff 60%,
    #555 60%,
    #555 80%,
    #fff 80%,
    #fff 100%
  );
  background-image: -moz-linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    #555 20%,
    #555 40%,
    #fff 40%,
    #fff 60%,
    #555 60%,
    #555 80%,
    #fff 80%,
    #fff 100%
  );
  background-image: -ms-linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    #555 20%,
    #555 40%,
    #fff 40%,
    #fff 60%,
    #555 60%,
    #555 80%,
    #fff 80%,
    #fff 100%
  );
  background-image: linear-gradient(
    to bottom,
    #fff,
    #fff 20%,
    #555 20%,
    #555 40%,
    #fff 40%,
    #fff 60%,
    #555 60%,
    #555 80%,
    #fff 80%,
    #fff 100%
  );
}

.comment-newsletters {
  float: right;
  color: black;
  font-weight: bold;
  padding-left: 10px;
}

.comment-newsletters span {
  color: #1971c2;
}

.newsletter-section {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(190, 187, 187);
  border-radius: 3px;
}

#footer {
  padding-top: 5px;
  background: #202020;
  border-bottom: 5px solid #fff;
  border-top: 10px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  padding: 10px;
  line-height: 16px;
  clear: both;
}

.pagination-item {
  /* color: #303030; */
  font-weight: 800;
}

.comments {
  color: black;
}

.comments a {
  color: black;
  font-weight: 800;
}

.post-comment-avatar {
  height: 38px;
  text-align: left;
  border-radius: 50%;
  float: left;
}

.post-comment-name {
  font-weight: 600;
  font-size: 15px;
  padding-left: 30px;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  /* margin-top: -10px; */
  line-height: 1.5;
  display: block;
}

.post-comment-date {
  font-weight: 400;
  font-size: 14px;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

fieldset {
  border-style: none;
}

.tiny p {
  text-align: left !important;
}

html {
  scroll-behavior: smooth;
}

.commento-options:hover .onhover {
  filter: invert(38%) sepia(1%) saturate(2184%) hue-rotate(23deg)
    brightness(97%) contrast(98%);
}

.tag-class {
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.562);
  font-weight: 400;
  background-color: #d3d3d3;
  font-size: 16px;
  font-weight: 400;
  padding: 3px;
  margin: 2px;
}

.post-date {
  color: #736d6d !important;
}

.commento-root h1 {
  font-weight: 800;
}

.commento-root h2 {
  font-weight: 500;
}

.pagination-text {
  font-size: 14px;
  color: rgb(80, 89, 108);
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  line-height: 22.5px;
  font-weight: 200;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 2px;
}

.pagination-link {
  height: 50px;
  color: #313131;
}

.pagination-link a {
  font-weight: 400;
}

.pagination-image {
  padding-top: 5px;
  border-radius: 0;
  overflow: hidden;
  height: 150px;
  display: flex;
}

.pagination-arrow {
  color: #515151;
}

.pagination-image img {
  border-radius: 0;
  width: 100%;
  align-self: center;
}

.toc li {
  list-style: number;
}

#TableOfContents ul li ul {
  margin-bottom: 0;
}

#comment-submitted-box i {
  font-size: 18px !important;
  color: #2f343f;
}

.pagination-item {
  font-size: 16px;
}

.tftextinput {
  height: 28px;
  border-radius: 2px;
  font-size: 20px;
  border-style: none;
  padding-top: 4px;
  padding-bottom: 4px;
  max-width: 200px;
  margin-right: 2px;
  padding-right: 29px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.tfbutton {
  margin: 0;
  padding-right: 25px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-top: -10px;
  margin-left: -37px;
  background: transparent;
  border: none;
}
.tfbutton svg {
  padding-top: 4px;
  margin-bottom: -4px !important;
}

.tfbutton svg:hover {
  fill: #6e6f70;
}

/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}

.tfclear {
  clear: both;
}

.post .home-title {
  font-size: 40px;
}

.progress-container {
  width: 100%;
  height: 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 0.3rem;
  /* background: rgb(46,196,108);
  background: linear-gradient(90deg, rgba(46,196,108,1) 0%, rgba(49,211,116,1) 32%, rgba(56,222,111,1) 64%, rgba(53,228,109,1) 98%, rgba(120,250,3,1) 100%); */
  background: rgb(56, 167, 224);
  background: linear-gradient(
    90deg,
    rgba(56, 167, 224, 1) 0%,
    rgba(59, 176, 237, 1) 23%,
    rgba(63, 184, 247, 1) 64%,
    rgba(63, 194, 255, 1) 98%,
    rgba(73, 233, 255, 1) 100%
  );
  width: 0%;
}

/* Privacy */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  bottom: 30px;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#close-privacy {
  cursor: pointer;
  color: #ffffff;
  padding-left: 2px;
  font-size: 9px;
  opacity: 0.9;
}

#close-privacy:hover {
  opacity: 1;
}

#newsletter-submitted p {
  text-align: center !important;
}
.newsletter-submitted-txt {
  padding-bottom: 10px;
}

/* mobile display */

@media screen and (max-width: 64em) {
  .tfbutton {
    margin-left: -41px !important;
  }

  .tfbutton svg {
    margin-bottom: -3px !important;
  }
}

@media screen and (max-width: 48em) {
  .masthead-search-form {
    display: none;
  }

  .search-form {
    display: block;
  }

  .tftextinput {
    max-width: 167px;
    height: 26px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 29px;
  }

  .tfbutton svg {
    margin-bottom: -3px !important;
  }

  .pull-right {
    display: none;
  }

  .sidebar-icons {
    margin-top: -5% !important;
    margin-bottom: -5% !important;
  }

  .masthead-title {
    text-align: center;
  }

  .masthead-title small {
    display: inline-block;
  }

  .img-container {
    margin-bottom: 0;
  }

  .photo-credit {
    margin-top: 0px;
  }
}

@media (max-width: 30em) {
  .progress-bar {
    height: 0.3rem;
  }

  .post .home-title {
    font-size: 32px;
  }

  .tfbutton {
    margin-left: -36px !important;
  }

  .pagination .older {
    margin-top: 20px;
  }

  .tfbutton svg {
    margin-bottom: -3px !important;
  }

  .comment-newsletters .subscribe-to-nl {
    display: none;
  }

  .commento-logged-container {
    margin-top: 10px;
  }
}

@media (max-width: 15em) {
  .tfbutton {
    margin-left: -35px !important;
  }

  .masthead-title {
    text-align: center;
  }

  .masthead-title small {
    display: none;
  }

  .photo-credit {
    margin-top: -5px !important;
  }

  .commento-logged-container {
    margin-bottom: 10px;
  }

  .tfbutton svg {
    margin-bottom: -3px !important;
  }
}

blockquote p strong {
  color: rgb(105, 103, 103);
}

input:focus {
  outline: none !important;
  box-shadow: none;
}
