@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/pt-sans-v11-latin-regular.eot");
    src: local("PT Sans"), local("PTSans-Regular"),
        url("/fonts/pt-sans-v11-latin-regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/pt-sans-v11-latin-regular.woff2") format("woff2"),
        url("/fonts/pt-sans-v11-latin-regular.woff") format("woff"),
        url("/fonts/pt-sans-v11-latin-regular.ttf") format("truetype"),
        url("/fonts/pt-sans-v11-latin-regular.svg#PTSans") format("svg");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



html,
body {
    margin: 0;
    padding: 0;
}



body {
    color: #222222;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    background: #202020;
}

.masthead-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #505050;
    font-size: 20px;
    letter-spacing: -.025rem;
    line-height: 1.25;
}

.masthead-title a {
    color: #505050;
}

.masthead-title small {
    font-size: 75%;
    font-weight: 400;
    color: silver;
    letter-spacing: 0;
}

.masthead-search-form {
    margin-top: -26px;
    font-weight: 200;
    float: right;
}

.tftextinput {
    height: 28px;
    border-radius: 2px;
    font-size: 20px;
    border-style: none;
    padding-top: 4px;
    padding-bottom: 4px;
    max-width: 200px;
    margin-right: 2px;
    padding-right: 29px;
}

.tfbutton {
    margin: 0;
    padding-right: 25px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: -10px;
    margin-left: -37px;
    background: transparent;
    border: none;
}

.tfbutton svg {
    padding-top: 4px;
    margin-bottom: -4px;
    margin-right: -20px;
}

h3,
input,
button {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.container {
    max-width: 38rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.content {
    visibility: hidden;
}

.sidebar {
    display: none;
}

.sidebar-checkbox {
    display: none;
}

#snackbar {
    display: none;
}

a {
    text-decoration: none;
}

.sidebar-toggle {
    display: none;
}

@media screen and (max-width: 48em) {
    .masthead-search-form {
        display: none;
    }

    .masthead-title {
        text-align: center;
    }
}

.tftextinput::-webkit-input-placeholder {
    font-size: 16px;
    padding-left: 5px;
}

.tftextinput::-moz-placeholder {
    font-size: 16px;
    padding-left: 5px;
}

.tftextinput:-ms-input-placeholder {
    font-size: 16px;
    padding-left: 5px;
}

/* end */